/.history
/1.png
/2.png
/20230214_074741.jpg
/20230214_jyjy074741.jpg
/3.png
/Adobe Premiere Pro Audio Previews
/Adobe Premiere Pro Auto-Save
/Adobe Premiere Pro Video Previews
/Mechanical Engineering Student Samp.txt
/Motion Graphics Template Media
/nhi.jpg
/sasas.jpg
/Stranger In the Way - RAGE.mp3
/text portrait.mp3
/text portrait.mp4
/text portrait.prproj
/text portrait_1.mp4
/Untitled-1.jpg
/Untitled-1.psd